* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(19, 19, 19);
  margin: 4rem;
}

a {
  color: unset;
  text-decoration: none;
}

.app button {
  cursor: pointer;
  background-color: var(--color-bg);
  color: var(--color-white);
  padding: 10px;
  margin-right: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: var(--font-primary);
  font-weight: 400;
  border: 2px;
}

.app button:hover {
  color: var(--color-light);
}

.section__padding {
  padding: 4rem 8rem;
}

.section__margin {
  margin: 4rem 8rem;
}
