* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: rgb(36, 35, 35);
  /* padding: 20px; */
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

.root{
  margin-bottom: 3rem;
}
.app{
  justify-content: center;
  gap:1rem
}

.app button {
  cursor: pointer;
  background-color: black;
  color: var(--color-white);
  padding: 10px;
  margin-right: 1rem;
  border-radius: 0.2rem;
  border: 2px solid gray;
  font-size: 1rem;
  font-family: var(--font-primary);
  font-weight: 400;
  margin-bottom: 1rem;
}

@media screen and (max-width:900px){
  .app button {
    padding: 8px;
    margin-right: 0.7rem;
    border-radius: 0.2rem;
    border: 2px solid gray;
    font-size: 0.6rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width:450px){
  .app button {
    padding: 4px 8px;
    margin-right: 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid gray;
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }
}


.app button:hover {
  border: 2px solid white;
}

.gradient__green{
  background: var(--gradient-green);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient__red{
  background: var(--gradient-red);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient__blue{
  background: var(--gradient-blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient__day{
  background: var(--gradient-date);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


