.calender-container {
  margin: 0 auto; /* Center the calendar on the screen */
  margin-top: 10px;
  width: 1250px;
}

.calender-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calender-header button {
  cursor: pointer;
  background-color: black;
  color: var(--color-white);
  font-size: 1rem;
  font-family: var(--font-primary);
  font-weight: 400;
  padding: 10px;
  border: 2px solid gray;
  border-radius: 0.2rem;
}

.calender-header button:hover{
  border: 2px solid white;
}

.calender-header h2 {
  color: var(--color-white);
  font-size: 3.5rem;
  font-family: var(--font-heading);
  font-weight: 600;
}

.calender-table {
  padding-top: 1rem;
  margin: auto;
  border-collapse: collapse; /* Collapse table borders */
}

.calender-table th {
  color: var(--color-white);
  font-size: 1rem;
  font-family: var(--font-new);
  padding-bottom: 0.5rem;
  font-weight: 600;
}


.calender-table td{
  width: 130px;
  height: 90px;
  border: 2px solid rgb(164, 160, 160);
}

.calender-table tbody{
  border-radius: 0.5rem;
  border: 2px solid rebeccapurple;
}
.calendar-cell {
  cursor: pointer;
  color: var(--color-light);
  height: 100%;
  background-color: black;
}

.calendar-cell a{
  width: 135px;
  height: 80px;
}


.calendar-cell-blank{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:black;
  height: 100%;
}

.calendar-cell-blank_img{
  position: relative;
  height: 2rem;
  opacity: 50%;
  z-index: 1;
}

.calendar-cell-blank_content{
  z-index: 3;
  position: absolute;
}

.calendar-cell-blank_content p{
  font-size: 1.5rem;
  font-family: var(--font-number);
  font-weight: 600;
  padding-left: 6rem;
}


.calendar-cell_img{
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.calendar-cell_content{
  z-index: 3;
  position: absolute;
  padding-left: 0;
  padding-top: 1.4rem;
  text-align: center;
  width: 80px;
}



.calendar-cell-day p{
  position: relative;
  font-size: 1.5rem;
  bottom: 2.9rem;
  left: 4.5rem;
  font-family: var(--font-number);
  font-weight: 600;
}

.calendar-cell-day{
  text-align: center;
}


.calendar-cell-header-values {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  color:#9595c1;
  font-size: 0.3rem;
  font-family: var(--font-number);
  font-weight: 500;
  justify-content: center;
}

.calendar-cell-header-mainvalue {
  font-size: 1.3rem;
  font-family: var(--font-number);
  font-weight: 500;
  color: var(--gradient-green);
}
.calendar-cell-header-entryprice {
  color: var(--color-white);
  font-size: 0.3rem;
  font-family: var(--font-primary);
  font-weight: 200;
}

.calendar-cell-header-closeprice {
  color: var(--color-white);
  font-size: 0.3rem;
  font-family: var(--font-primary);
  font-weight: 200;
}


.calendar-week-pl p{
  text-align: center;
  font-size: 2rem;
  font-family: var(--font-number);
  font-weight: 700;
  }

.calendar-month-pl{
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  font-family: var(--font-primary);
  font-weight: 500;

}

.calendar-month-pl h4{
  text-align: center;
  font-size: 1.7rem;
  font-family: var(--font-new);
  font-weight: 500;
  color: #9595c1;
}
.calendar-month-pl h6{
  text-align: center;
  font-size: 1rem;
  font-family: var(--font-new);
  font-weight: 500;
  color: #9595c1;  
}
.calendar-month-pl p{
  text-align: center;
  font-size: 2.3rem;
  font-family: var(--font-number);
  font-weight: 800;
}

.calendar-footer{
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.calendar-footer{
  font-size: 1rem;
  font-family: var(--font-new);
  color: rgb(189, 167, 167);
  font-weight: 500;
  margin-bottom: 3rem
  ;
}























@media screen and (max-width:1024px){
  .calender-container {
    margin-top: 10px;
    width: 700px;
  }
  
  .calender-header button {
    font-size: 0.7rem;
    padding: 8px;
  }
  
  
  .calender-header h2 {
    font-size: 2.2rem;
    font-weight: 500;
  }
  
  
  .calender-table th {
    font-size: 0.7rem;
    font-weight: 500;
  }
  
  
  .calender-table td{
    width: 70px;
    height: 60px;
    border: 1.5px solid rgb(164, 160, 160);
  }
  
  .calender-table tbody{
    border-radius: 0.5rem;
    border: 1.5px solid rgb(164, 160, 160);
  }

  
  .calendar-cell-blank_img{
    height: 1.5rem;
  }
  
  .calendar-cell-blank_content p{
    font-size: 1rem;
    font-weight: 500;
    padding-left: 3rem;
  }
  
  .calendar-cell_content{
    padding-left: 0;
    padding-top: 0.9rem;
    width: 45px;
  }
  
  
  
  .calendar-cell-day p{
    font-size: 1rem;
    bottom: 2.15rem;
    left: 2.25rem;
    font-weight: 500;
  }
  
  
  .calendar-cell-header-values {
    gap: 0.05rem;
    font-size: 0.2rem;
    font-weight: 400;
  }
  
  .calendar-cell-header-mainvalue {
    font-size: 0.8rem;
    font-weight: 500;
    padding-bottom: 0.3rem;
  }
  .calendar-cell-header-entryprice {
    font-size: 0.2rem;
    font-weight: 200;
  }
  
  .calendar-cell-header-closeprice {
    font-size: 0.2rem;
    font-weight: 200;
  }
  
  
  .calendar-week-pl p{
    font-size: 1rem;
    font-weight: 700;
    }
  
  .calendar-month-pl{
    font-size: 2rem;
    padding: 0rem 0.5rem;
    font-weight: 500;
  
  }
  
  .calendar-month-pl h4{
    font-size: 1.3rem;
    font-weight: 500;
  }
  .calendar-month-pl h6{
    font-weight: 500;
    font-size: 0.8rem;
  }
  .calendar-month-pl p{
    font-size: 1.8rem;
    font-weight: 800;
  }
  
  .calendar-footer{
    padding-top: 1.5rem; 
  }
  
  .calendar-footer{
    font-size: 0.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
}



























@media screen and (max-width:850px){
  .calender-container {
    margin-top: 10px;
    width: 700px;
  }

  .calender-header{
    padding-bottom: 1rem;
  }
  
  .calender-header button {
    font-size: 0.7rem;
    padding: 8px;
  }
  
  
  .calender-header h2 {
    font-size: 2.2rem;
    font-weight: 500;
  }
  
  
  .calender-table th {
    font-size: 0.7rem;
    font-weight: 500;
  }
  
  
  .calender-table td{
    width: 70px;
    height: 60px;
    border: 1.5px solid rgb(164, 160, 160);
  }
  
  .calender-table tbody{
    border-radius: 0.5rem;
    border: 1.5px solid rgb(164, 160, 160);
  }

  
  .calendar-cell-blank_img{
    height: 1.5rem;
  }
  
  .calendar-cell-blank_content p{
    font-size: 1rem;
    font-weight: 500;
    padding-left: 3rem;
  }
  
  .calendar-cell_content{
    padding-left: 0;
    padding-top: 0.9rem;
    width: 45px;
  }
  
  
  
  .calendar-cell-day p{
    font-size: 1rem;
    bottom: 2.15rem;
    left: 2.25rem;
    font-weight: 500;
  }
  
  
  .calendar-cell-header-values {
    gap: 0.05rem;
    font-size: 0.2rem;
    font-weight: 400;
  }
  
  .calendar-cell-header-mainvalue {
    font-size: 0.8rem;
    font-weight: 500;
    padding-bottom: 0.3rem;
  }
  .calendar-cell-header-entryprice {
    font-size: 0.2rem;
    font-weight: 200;
  }
  
  .calendar-cell-header-closeprice {
    font-size: 0.2rem;
    font-weight: 200;
  }
  
  
  .calendar-week-pl p{
    font-size: 1rem;
    font-weight: 700;
    }
  
  .calendar-month-pl{
    font-size: 2rem;
    padding: 0rem 0.5rem;
    font-weight: 500;
  
  }
  
  .calendar-month-pl h4{
    font-size: 1.3rem;
    font-weight: 500;
  }
  .calendar-month-pl h6{
    font-weight: 500;
    font-size: 0.8rem;
  }
  .calendar-month-pl p{
    font-size: 1.8rem;
    font-weight: 800;
  }
  
  .calendar-footer{
    padding-top: 1.5rem; 
  }
  
  .calendar-footer{
    font-size: 0.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
}













/* mobile device  */
@media screen and (max-width:450px){
  .calender-container {
    margin-top: 10px;
    width: 350px;
  }

  .calender-header{
    padding-bottom: 1rem;
  }
  
  .calender-header button {
    font-size: 0.6rem;
    padding: 4px 8px;
    border: 1px solid gray;
  }
  
  
  .calender-header h2 {
    font-size:1.2rem;
    font-weight: 500;
  }
  
  
  .calender-table th {
    font-size: 0.3rem;
    padding-bottom: 0.2rem;
    font-weight: 500;
  }
  
  
  .calender-table td{
    width: 35px;
    height: 26px;
    border: 0.5px solid rgb(164, 160, 160);
  }
  
  .calender-table tbody{
    border-radius: 0.2rem;
    border: 0.5px solid rgb(164, 160, 160);
  }

  
  .calendar-cell-blank_img{
    height: 0.5rem;
  }
  
  .calendar-cell-blank_content p{
    font-size: 0.5rem;
    font-weight: 500;
    padding-left: 1.5rem;
  }
  
  .calendar-cell_content{
    padding-left: 0;
    padding-top: 0.45rem;
    width: 22px;
  }
  
  
  
  .calendar-cell-day p{
    font-size: 0.5rem;
    bottom: 1.05rem;
    left: 1.15rem;
    font-weight: 500;
  }
  
  
  .calendar-cell-header-values {
    gap: 0.025rem;
    font-size: 0.09rem;
    font-weight: 400;
  }
  
  .calendar-cell-header-mainvalue {
    font-size: 0.35rem;
    font-weight: 500;
    padding-bottom: 0.1rem;
  }
  .calendar-cell-header-entryprice {
    font-size: 0.1rem;
    font-weight: 200;
  }
  
  .calendar-cell-header-closeprice {
    font-size: 0.1rem;
    font-weight: 200;
  }
  
  
  .calendar-week-pl p{
    font-size: 0.5rem;
    font-weight: 700;
    }
  
  .calendar-month-pl{
    font-size: 0.5rem;
    padding: 0rem 0.5rem;
    font-weight: 500;
  
  }
  
  .calendar-month-pl h4{
    font-size: 0.6rem;
    font-weight: 500;
  }
  .calendar-month-pl h6{
    font-weight: 500;
    font-size: 0.35rem;
  }
  .calendar-month-pl p{
    font-size: 0.7rem;
    font-weight: 800;
  }
  
  .calendar-footer{
    padding-top: 0.5rem; 
  }
  
  .calendar-footer{
    font-size: 0.3rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }
}
