.daily-calendar-container {
  margin-top: 80px;
  justify-content: center;
  max-width: 60%;
  margin: auto;
}

.daily-calender-header {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.daily-calender-header h2 {
  color: var(--color-light);
  font-size: 1.5rem;
  font-family: var(--font-primary);
  font-weight: 600;
}

.daily-calender-header button {
  cursor: pointer;
  background-color: var(--color-bg);
  color: var(--color-light);
  font-size: 1rem;
  font-family: var(--font-primary);
  font-weight: 400;
  padding: 10px;
  border: 2px solid gray;
  border-radius: 0.5rem;
}
.daily-calender-header button:hover {
  background-color: var(--color-gray);
}

.header {
  z-index: 3;
  position: absolute;
  color: var(--color-white);
  padding: 120px 80px;
}

.header-values {
  display: flex;
  flex-direction: row;
  gap:1rem;
  padding-left: 2.5rem;
  color: var(--color-white);
  font-size: 1.2rem;
  font-family: var(--font-primary);
  font-weight: 400;
}

.header-mainvalue {
  font-size: 5rem;
  font-family: var(--font-primary);
  font-weight: 400;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.header-entryprice {
  color: var(--color-white);
  font-size: 1.2rem;
  font-family: var(--font-primary);
  font-weight: 400;
  padding-left: 4rem;
  padding-bottom: 0.5rem;
}

.header-closeprice {
  color: var(--color-white);
  font-size: 1.2rem;
  font-family: var(--font-primary);
  padding-left: 4rem;
  font-weight: 400;
}

.header-date {
  color: var(--color-light);
  font-size: 1.5rem;
  font-family: var(--font-primary);
  font-weight: 500;
  padding-left: 6rem;
  padding-top: 4.5rem;
}

.day-view {
  position: relative;
  border-radius: 0.5rem;
  width: 100%;
  height: 490px; /* Adjust the height as needed */
  overflow: hidden;
}


.photo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio */
  z-index: 2;
}

.daily-calender-no-data {
  text-align: center;
  color:var(--color-red);
  font-size: 1.5rem;
  font-family: var(--font-primary);
  font-weight: 600;
  padding-top: 1rem;
}
