.yearly-calender-table {
  padding-top: 1rem;
  margin: auto;
  width: 700px;
  border-collapse: collapse; /* Collapse table borders */
}

.yearly-calender-table th {
  color: var(--color-white);
  font-size: 1rem;
  font-family: var(--font-new);
  padding-bottom: 0.5rem;
  font-weight: 600;
}

.yearly-calender-table td {
  width: 100px;
  height: 60px;
  border: 1px solid rgb(164, 160, 160);
}

.yearly-calender-table tbody {
  border-radius: 0.5rem;
  border: 1px solid rgb(164, 160, 160);
}
.yearly-calendar-cell {
  cursor: pointer;
  color: var(--color-light);
  height: 100%;
  background-color: black;
}

.yearly-calendar-cell a {
  width: 100px;
  height: 60px;
}

.yearly-calendar-cell-blank {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.yearly-calendar-cell-blank_img{
  height: 100%;
  width: 100%;
}


.yearly-calendar-cell-blank_content {
  z-index: 3;
  position: absolute;
}

.yearly-calendar-cell-blank_content p {
  font-size: 1rem;
  font-family: var(--font-number);
  font-weight: 400;
  padding-left: 3rem;
}

.yearly-calendar-cell_img {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.yearly-calendar-cell_content {
  z-index: 3;
  position: absolute;
  padding-left: 0;
  padding-top: 1rem;
  text-align: center;
  width: 50px;
}

.yearly-calendar-cell-day p {
  position: relative;
  font-size: 1rem;
  bottom: 1.75rem;
  left: 2.35rem;
  font-family: var(--font-number);
  font-weight: 400;
}

.yearly-calendar-cell-day {
  text-align: center;
}

.yearly-calendar-cell-header-values {
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
  color: #9595c1;
  font-size: 0.2rem;
  font-family: var(--font-navbar);
  font-weight: 500;
  justify-content: center;
}

.yearly-calendar-cell-header-mainvalue {
  font-size: 0.85rem;
  font-family: var(--font-navbar);
  font-weight: 500;
  color: var(--gradient-green);
}
.yearly-calendar-cell-header-entryprice {
  color: var(--color-white);
  font-size: 0.2rem;
  font-family: var(--font-navbar);
  font-weight: 200;
}

.yearly-calendar-cell-header-closeprice {
  color: var(--color-white);
  font-size: 0.2rem;
  font-family: var(--font-navbar);
  font-weight: 200;
}

.yearly-calendar-week-pl p {
  text-align: center;
  font-size: 1rem;
  font-family: var(--font-navbar);
  font-weight: 700;
}

.yearly-calendar-month-pl {
  text-align: center;
  font-size: 1rem;
  font-family: var(--font-primary);
  font-weight: 500;
}

.yearly-calendar-month-pl h4 {
  text-align: center;
  font-size: 1rem;
  font-family: var(--font-new);
  font-weight: 500;
  color: #9595c1;
}
.yearly-calendar-month-pl h6 {
  margin: 0;
  text-align: center;
  font-size: 0.5rem;
  font-family: var(--font-new);
  font-weight: 500;
  color: #9595c1;
}
.yearly-calendar-month-pl p {
  text-align: center;
  font-size: 1rem;
  font-family: var(--font-number);
  font-weight: 800;
}

.yearly-calendar-footer {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.yearly-calendar-footer {
  font-size: 1rem;
  font-family: var(--font-new);
  color: rgb(189, 167, 167);
  font-weight: 500;
  margin-bottom: 3rem;
}


@media screen and (max-width:450px){

  .yearly-calender-table {
    margin-top: 10px;
    width: 350px;
  }
  
  .yearly-calender-table th {
    font-size: 0.4rem;
    padding-bottom: 0.2rem;
    font-weight: 500;
  }
  
  .yearly-calender-table td {
    width: 35px;
    height: 26px;
    border: 0.5px solid rgb(164, 160, 160);
  }
  
  .yearly-calender-table tbody {
    border-radius: 0.2rem;
    border: 0.5px solid rgb(164, 160, 160);
  }
  
  
  
  .yearly-calendar-cell-blank_content p {
    font-size: 0.5rem;
    font-weight: 500;
    padding-left: 1.5rem;
  }
  
  
  .yearly-calendar-cell_content {
    padding-left: 0;
    padding-top: 0.45rem;
    width: 22px;
  }
  
  .yearly-calendar-cell-day p {
    font-size: 0.5rem;
    bottom: 0.9rem;
    left: 1.2rem;
    font-weight: 400;
  }
  

  .yearly-calendar-cell-header-values {
    gap: 0.025rem;
    font-size: 0.09rem;
    font-weight: 400;
  }
  
  .yearly-calendar-cell-header-mainvalue {
    font-size: 0.35rem;
    font-weight: 500;
    padding-bottom: 0.1rem;
  }

  .yearly-calendar-cell-header-entryprice {
    font-size: 0.1rem;
    font-weight: 200;
  }
  
  .yearly-calendar-cell-header-closeprice {
    font-size: 0.1rem;
    font-weight: 200;
  }
  
  .yearly-calendar-week-pl p {
    font-size: 0.5rem;
    font-weight: 700;
  }

  .yearly-calendar-week-pl{
    font-size: 0.5rem;
    padding: 0rem 0.5rem;
    font-weight: 500;
  }
  
  
  .yearly-calendar-month-pl h4 {
    font-size: 0.6rem;
    font-weight: 500;
  }
  .yearly-calendar-month-pl h6 {
    font-weight: 500;
    font-size: 0.35rem;
  }
  .yearly-calendar-month-pl p {
    font-size: 0.7rem;
    padding: 0.5rem;
    font-weight: 800;
  }
  
}
