.navbar {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
  }
  .navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .navbar-links_container {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5rem;
  }
  
  .navbar-links_logo img {
    height: 68px;
    cursor: pointer;
  }
  
  .navbar-links_container p {
    font-family: var(--font-navbar);
    font-weight: 400;
    margin: auto 0px;
    font-size: 1rem;
    color: var(--color-white);
  }

  .navbar-links_container img{
    height: 68px;
    cursor: pointer;
  }
  .navbar-menu_toggle {
    display: none;
  } 
  
  @media screen and (max-width: 1050px) {
    .navbar-links_logo img {
        height: 44px;
      }
    .navbar-links_container img{
        height: 44px;
        cursor: pointer;
      }
    .navbar-links_container {
      gap: 1.5rem;
    }
    .navbar-links_container p{
        font-size: 0.7rem;
    }
    .navbar{
      padding: 0.5rem 0.5rem;
    }
  }
  
  @media screen and (max-width: 700px) {
    .navbar {
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;
    }
  
    .navbar-links_container {
      display: none;
    }
  
    .navbar-menu_toggle {
      display: flex;
    }
  
    .navbar-menu_container {
      display: flex;
      justify-content: flex-end;
      text-align: end;
      padding:0.5rem 0.5rem;
      color: rgb(165, 164, 164);
      position: absolute;
      top: 3.5rem;
      right:2.5rem;
      min-width: 80px;
      background-color: black;
      border-radius: 5px;
      z-index: 4;
  }
  .navbar-links_container-links{
      display: flex;
      align-items: center;
      justify-content: flex-end;
  }
  .navbar-menu_container-links p{
        font-family: var(--font-navbar);
        font-size: 18px;
        padding: 0.5rem;
    }
    .navbar-menu_container-links img{
        height: 44px;
        cursor: pointer;
      }
    .navbar-menu_container-links p:hover{
      color: white;
      font-size: 18px;
      font-weight: 500;
  }
    
  }
  
  @media screen and (max-width:450px) {
  }