/* YearlyCalendar.css */
.yearly-calendar-container {
    text-align: center;
    margin-top: 80px;
  }
  
  .yearly-calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .yearly-calendar-header h2{
    color: var(--color-light);
    font-size: 2.5rem;
    font-family: var(--font-primary);
    font-weight: 700;
  }

  .yearly-calendar-header button{
    cursor: pointer;
    background-color:var(--color-light);
    color:var(--color-bg);
    font-size: 1rem;
    font-family: var(--font-primary);
    font-weight: 400;
    padding: 10px;
    border: none;
    border-radius: 0.5rem;
  }

  .yearly-calendar-header button:hover{
    background-color:var(--color-white);
  }

  
  .yearly-calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .yearly-month-calendar {
    width: 30%; /* Adjust the width based on your preference */
    margin-bottom: 20px;
    background-color: var(--color-light);
    padding: 1rem;
    border-radius: 1rem;
    box-sizing: border-box;
  }

  .yearly-month-calendar h3{
    padding-bottom: 1rem;
    color: var(--color-bg);
    font-size: 1rem;
    font-family: var(--font-primary);
    font-weight: 500;
  }
  
  .yearly-month-calendar table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 2rem;
  }

  .yearly-month-calendar th{
    width: 2.5rem;
    color: var(--color-bg);
    font-size: 1rem;
    font-family: var(--font-primary);
    font-weight: 400;
  }

  
  .yearly-month-calender{
    margin: 2px;
    padding: 4px;
    width: 2.7rem;
    background-color: var(--color-white);
    border-radius: 0.5rem;
    text-align: end;
  }

  .yearly-month-calender-day{
    color: var(--color-bg);
    text-align: end;
    font-size: 0.5rem;
    font-family: var(--font-primary);
    font-weight: 500;
  }

  .yearly-month-calender-value{
    color: var(--color-bg);
    font-size: 0.55rem;
    font-family: var(--font-primary);
    font-weight: 600;
  }

  
  